.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
}


.loading-screen.hidden {
    display: none;
}