.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
}


.loading-screen.hidden {
    display: none;
}