<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div>
        <div>
            <input type="text" id="token" placeholder="Enter your token">
            <button id="send_token">Submit token</button>
        </div>
        <div>
            <input type="text" id="receiver_public_id" placeholder="Enter receiver public id">
            <input type="text" id="content" placeholder="message content">
            <button id="send_message">Send message</button>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            var address = 'http://127.0.0.1:5000'

            var socket = io.connect(address);

            socket.on('connect', function(){
                console.log('connected to server on root');
            });

            socket.on('disconnect', function(){
                console.log('disconnected to server on root');
            });

            $('#send_token').on('click', function(){
                token = $('#token').val();
                socket.emit('request_login', {'authorization': token});
            });

            socket.on('response_login', function(response_object){
                msg = JSON.stringify(response_object)
                console.log('response_login : ' + msg);
            })
            
            $('#send_message').on('click', function(){
                receiver_public_id = $('#receiver_public_id').val();
                content = $('#content').val();
                request_object = {
                    'receiver_public_id': receiver_public_id, 'content': content
                }
                socket.emit('request_private_message', request_object);
            });

            socket.on('response_private_message', function(response_object){
                msg = JSON.stringify(response_object);
                console.log('response_private_message : ' + msg);
            });

            socket.on('receive_message', function(response_object){
                msg = JSON.stringify(response_object);
                console.log('receive_message : ' + msg);
            });
        });
    </script>
</body>
</html>