<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div>
        <div>
            <input type="text" id="token" placeholder="Enter your token">
            <button id="send_token">Submit token</button>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            var address = 'http://127.0.0.1:5000'

            var socket = io.connect(address);

            socket.on('connect', function(){
                console.log('connected to server on root');
            });

            socket.on('disconnect', function(){
                console.log('disconnected to server on root');
            });

            // var socket_login = io.connect(address + '/socket_login');

            // socket_login.on('connect', function(){
            //     console.log('connected to server on path socket_login');
            // });

            // socket_login.on('disconnect', function(){
            //     console.log('disconnected to server on path socket_login');
            // });
            
            // $('#send_token').on('click', function(){
            //     token = $('#token').val();
            //     socket_login.emit('req_login', {'authorization': token});
            // });

            // socket_login.on('res_login', function(response){
            //     console.log(response);
            // })

        });
    </script>
</body>
</html>